.report_section{
  background-color: #9e1e1e;
  color: white;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.report_mastery_header{
  display: grid;
  background-color: lightgray;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.report_mastery_levels{
}

.report_level{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}