.studentpage{
  height: 720px;
  background-color: lightgrey;
  width: 100%;
  color: black;
  padding: 2rem 3rem;
  position: relative;
}

.studentpage_categories{
  display: flex;
}

.studentpage_category{
  color: white;
  font-weight: bold;
  height: 25px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;
}

.gradecenter{
  background-color: #1B998B;
  border-top: 5px solid black;
}

.testreports{
  background-color: #CC5A71;
}

.studentinformation{
  background-color: #104F55
}

.studentpage_name{
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.selecttest{
  margin-top: 1rem;
  width: 150px;
}