.testattempt{
}

.attempt_tabs{
  display: flex;
  margin-top: .5rem;
}

.attempt_tab_rw{
  padding: .25rem .5rem;
  border-radius: 4px;
  background-color: grey;
  color: white;
  cursor: pointer;
}

.attempt_tab_math{
  padding: .25rem .5rem;
  border-radius: 4px;
  background-color: grey;
  color: white;
  margin-left: .5rem;
  cursor: pointer;
}

.attempt_tab_math_active{
  background-color: green;
}

.attempt_tab_rw_active{
  background-color: #9e1e1e;
}

.attempt_input{
  margin-top: 1rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.attempt_row{
  display: flex;
}

.attempt_row_number{
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.attempt_row_button{
  width: 25px;
  height: 30px;
  display: grid;
  place-items: center;
  background-color: rgb(159, 159, 159);
  border: 1px solid lightgray;
  cursor: pointer;
}

.attempt_clicked{
  background-color: #6495ed;
  color: white;
}

.attempt_right{
  background-color: rgb(0, 109, 0);
  color: white;
}

.attempt_wrong{
  background-color: #9e1e1e;
  color: white;
}

.attempt_output{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;
  width: 850px;
}

.attempt_output_item{
  margin-left: 1rem;
  white-space: nowrap;
}

.wronganswer{
  color: #b22222;

}

.attempt_footer{
  display: flex;
}

.attempt_footer_right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gradetestbutton{
  background-color: green;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.score{
  margin-top: 10px;
  right: 20px;
  bottom: 0;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid black;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background-color: white;
  color: black;
}

.generatebutton{
  background-color: purple;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}